.search-bar {
  margin:20px;
}

.search-bar input {
  width: 60%;
  line-height: 30px;
}

.search-bar input::-webkit-input-placeholder {
  padding: 10px;
  font-weight: bold;
}


.video-detail .details {
  margin-top: 10px;
  padding:10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group {
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}